<div class="padding" style="background-color: #333!important;">
  <label class="item item-input">
    <i class="icon ion-location placeholder-icon"></i>
    <input type="text" placeholder="Номер РИЦ" ng-model="opt.ric">
  </label>
  <label class="item item-input">
    <i class="icon ion-person placeholder-icon"></i>
    <input type="text" placeholder="Логин в ВЭ" ng-model="opt.login">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked placeholder-icon"></i>
    <input type="password" placeholder="Пароль" ng-model="opt.password">
  </label>
  <button class="button button-full button-positive" ng-click="enter()">
    ВОЙТИ
  </button>
</div>
